/* Site Style Sheet
    1. Global Styles
    2. Structure Styles
    3. Typography Styles
    4. Module Styles
    5. Component Styles

================================ */

/* 1. Global Styles 
================================ */
* {
    box-sizing: border-box;
    margin: 0;
}

*:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

:root {
    --text-normal: 1rem;
    --text-sub-heading: 1.5rem;
    --text-heading: 2rem;
    --text-subtitle: 2.5rem;
    --text-title: 3rem;
    --text-caption: 0.75rem;
    --orange: #F88E28;
    --light-orange: #F8B735;
    --teal: #2B898B;
    --green: #26704F;
    --navy-blue: #242F35;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

html {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -website-font-smoothing: antialiased;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

/* 2. Structure Styles 
================================ */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 10;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 6px 8px -4px black;
}

@media screen and (max-width: 800px) {
    header {
        height: 13vh;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        margin-top: 0.5rem;
    }
}

main {
    margin-top: 10vh;
}

section {
    display: flex;
    flex-direction: column;
}

#intro {
    width: 100%;
    background-color: var(--light-orange);
}

#about {
    flex-direction: row;
}

#reviews {
    background: rgb(248,142,40);
    background: -moz-linear-gradient(135deg, rgba(248,142,40,1) 0%, rgba(38,112,79,1) 75%, rgba(36,53,147,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(248,142,40,1) 0%, rgba(38,112,79,1) 75%, rgba(36,53,147,1) 100%);
    background: linear-gradient(135deg, rgba(248,142,40,1) 0%, rgba(38,112,79,1) 75%, rgba(36,53,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f88e28",endColorstr="#243593",GradientType=1);
}

footer {
    background-color: darkslategray;
    color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* 3. Typography Styles 
================================ */
h2 {
    font-size: var(--text-subtitle);
}

h3 {
    font-size: var(--text-subheading);
}

a {
    text-decoration: none;
    font-weight: bold;
}

.photo-credit {
    font-size: var(--text-caption);
}


/* 4. Module Styles 
================================ */

/* Header Nav */
.nav-link {
    color: var(--navy-blue);
    margin: 1rem;
}

.nav-link:active {
    color: var(--orange);
}

.nav-link:hover {
    color: black;
}

.nav-link:visited {
    color: var(--navy-blue);
}


/* Footer Nav */
.footer-nav {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li>.footer-link {
    margin: 1rem;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: var(--light-orange);
}

.footer-link:visited {
    color: white;
}



/* 5. Component Styles 
================================ */

/* Splash Image Styles */
.splash-image-container {
    width: 100%;
    height: 80vh;
    background-image: url("./assets/outdoor-orange-table.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-slogan-card {
    background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    padding: 2rem;
}

.splash-slogan {
    font-size: 4rem;
    color: var(--navy-blue);
    margin: 4rem 2rem;
    text-align: center;
}

.sign-up-splash-button {
    color: white;
    background-color: var(--teal);
    border: 1px solid var(--teal);
    border-radius: 5px;
    font-size: var(--text-sub-heading);
    font-weight: bold;
    width: 40%;
    padding: 1rem;
    margin: 0 0 2rem 0;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.sign-up-splash-button:hover {
    background-color: var(--green);
    border: 1px solid var(--green);
}

/* Intro Section Styles */

.intro-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
}

.description {
    margin: 2rem 0;
}

.intro-list {
    list-style: none;
    text-align: center
}

.intro-list > li {
    margin: 1.5rem 0;
}

/* About Section Styles */
.about-figure {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
}

.about-image {
    width: 100%;
}

figcaption {
    align-self: flex-end;
    background-color: rgba( 255, 255, 255, 0.75 );
}

figcaption a {
    color: black;
}

.about-text-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.about-text, .preference-list {
    margin: 1.5rem;
}

.preference-list > li {
    margin: 1rem;
}




/* Review Styles */
#reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.review-card {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 3rem;
}

.review-image {
    height: 250px;
    margin: 1rem;
}

.review-image>img {
    width: 100%;
    height: 100%;
}

.review-text {
    width: 40%;
    margin: 2rem;
}
